.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    background-color: #343a40;
  }

  .bg-col {
    background-color: #2c3033;
  }

  .movie-title, .movie-description, .text-brand {
    font-size: 14px;
    padding-left: 10px;
  }

  .movie-description {
    color: #6c757d;
    font-size: 10px;
  }

  .text-brand {
    color: #6c757d;

  }

  .rating {
    font-size: 9px;
  }

  .btn-watch-now {
    margin-left: 10px;
    outline: none;
    border: none;
    background: #464747;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 10px;

  }

  .bg-brand-container {
    background-color: #262a2e;
    width: 180px;
    height: 110px;
  }

  .title-container {
    height: 50px;
  }